[submodule "tribe-app"]
	path = tribe-app
	url = https://github.com/chaalpritam/tribe-demo-app.git
[submodule "tribe-er-server"]
	path = tribe-er-server
	url = https://github.com/chaalpritam/tribe-er-server.git
[submodule "tribe-hub"]
	path = tribe-hub
	url = https://github.com/chaalpritam/tribe-hub.git
[submodule "tribe-protocol"]
	path = tribe-protocol
	url = https://github.com/chaalpritam/tribe-protocol.git
[submodule "tribe-sdk"]
	path = tribe-sdk
	url = https://github.com/chaalpritam/tribe-sdk.git
[submodule "homebrew-tap"]
	path = homebrew-tap
	url = https://github.com/chaalpritam/homebrew-tribe.git
[submodule "tribe-indexer"]
	path = tribe-indexer
	url = https://github.com/chaalpritam/tribe-indexer.git
[submodule "tribe-tweet-server"]
	path = tribe-tweet-server
	url = https://github.com/chaalpritam/tribe-cast-server.git
[submodule "tribeapp.wtf"]
	path = tribeapp.wtf
	url = https://github.com/chaalpritam/tribeapp.wtf.git
