[submodule "tribe-twitter-app"]
	path = tribe-twitter-app
	url = https://github.com/chaalpritam/tribe-twitter-app.git
[submodule "tribe-er-server"]
	path = tribe-er-server
	url = https://github.com/chaalpritam/tribe-er-server.git
[submodule "tribe-hub"]
	path = tribe-hub
	url = https://github.com/chaalpritam/tribe-hub.git
[submodule "tribe-protocol"]
	path = tribe-protocol
	url = https://github.com/chaalpritam/tribe-protocol.git
[submodule "tribe-sdk"]
	path = tribe-sdk
	url = https://github.com/chaalpritam/tribe-sdk.git
[submodule "homebrew-tap"]
	path = homebrew-tap
	url = https://github.com/chaalpritam/homebrew-tribe.git
[submodule "tribe-indexer"]
	path = tribe-indexer
	url = https://github.com/chaalpritam/tribe-indexer.git
[submodule "tribe-cast-server"]
	path = tribe-cast-server
	url = https://github.com/chaalpritam/tribe-cast-server.git
[submodule "tribeapp.wtf"]
	path = tribeapp.wtf
	url = https://github.com/chaalpritam/tribeapp.wtf.git
[submodule "tribe-twitter"]
	path = tribe-twitter
	url = https://github.com/chaalpritam/tribe-twitter.git
[submodule "tribe-insta"]
	path = tribe-insta
	url = https://github.com/chaalpritam/tribe-insta.git
[submodule "tribe-core-swift"]
	path = tribe-core-swift
	url = https://github.com/chaalpritam/tribe-core-swift.git
[submodule "tribe"]
	path = tribe
	url = https://github.com/chaalpritam/Tribe.git
[submodule "tribeprotocol.xyz"]
	path = tribeprotocol.xyz
	url = https://github.com/chaalpritam/tribeprotocol.xyz.git
